Repository hmcts/em-annotation-api, pull requests merged in 2019-11, with the labels that each got.

#90 add xui to s2s whitelist
  src/main/resources/application.yaml
Labels: ns:em-anno-pr-90

#93 Add api version for helm chart
  charts/em-anno/Chart.yaml
Labels: ns:em-anno-pr-93

#103 Updated the respective URL's
  charts/em-anno/Chart.yaml
  charts/em-anno/values.aat.template.yaml
  charts/em-anno/values.yaml
Labels: ns:em-anno-pr-103

#106 Test helper
  build.gradle
  docker-compose-dependencies.yml
  src/aat/java/uk/gov/hmcts/reform/em/annotation/functional/AnnotationScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/annotation/smoke/SmokeTest.java
  src/aat/java/uk/gov/hmcts/reform/em/annotation/testutil/Env.java
  src/aat/java/uk/gov/hmcts/reform/em/annotation/testutil/IdamHelper.java
  src/aat/java/uk/gov/hmcts/reform/em/annotation/testutil/S2sHelper.java
  src/aat/java/uk/gov/hmcts/reform/em/annotation/testutil/TestUtil.java
  src/aat/resources/application.yml
Labels: ns:em-anno-pr-106

#107 Indentpgres
  charts/em-anno/Chart.yaml
  charts/em-anno/values.preview.template.yaml
Labels: ns:em-anno-pr-107
