Repository hmcts/em-annotation-api, pull requests merged in 2020-05, with the labels that each got.

#187 feature/EM-2722 Added SerenityIntegrationSpringRunner in Functional Tests.
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  build.gradle
  dependency-check-suppressions.xml
  src/aat/java/uk/gov/hmcts/reform/em/annotation/functional/AnnotationScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/annotation/functional/OpenIdConnectScenarios.java
Labels: ns:em, rel:em-anno-pr-187

#188 Em 2881 integrate pact pipeline
  Jenkinsfile_CNP
  build.gradle
  dependency-check-suppressions.xml
  pacts/annotation_api-idam_api.json
  src/contractTest/java/uk/gov/hmcts/reform/em/annotation/IdamConsumerTest.java
Labels: ns:em, rel:em-anno-pr-188

#190 EM-2721-Fix for SerenitySinglePageReporting
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:em, rel:em-anno-pr-190

#191 EM-2881 request body generation in pact json
  build.gradle
  pacts/annotation_api-idam_api.json
  src/contractTest/java/uk/gov/hmcts/reform/em/annotation/IdamConsumerTest.java
Labels: ns:em, rel:em-anno-pr-191

#192 remove in chts
  Jenkinsfile_CNP
  dependency-check-suppressions.xml
Labels: ns:em, rel:em-anno-pr-192

#196 Em 2979 user endpoint change
  Jenkinsfile_CNP
  build.gradle
  dependency-check-suppressions.xml
  src/aat/resources/application.yml
  src/main/java/uk/gov/hmcts/reform/em/annotation/config/security/JwtGrantedAuthoritiesConverter.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/config/security/SecurityUtils.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/repository/IdamRepository.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/service/IdamDetailsFilterService.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/service/impl/IdamDetailsFilterServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/repository/IdamRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/service/impl/IdamDetailsFilterServiceImplIntTest.java
Labels: ns:em, rel:em-anno-pr-196
