Repository hmcts/em-annotation-api, pull requests merged in 2020-03, with the labels that each got.

#142 Em 2620 add tags to comments
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/reform/em/annotation/domain/Annotation.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/domain/Comment.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/domain/Tag.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/domain/TagId.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/repository/TagRepository.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/rest/TagResource.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/service/CommentService.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/service/TagService.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/service/dto/AnnotationDTO.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/service/dto/CommentDTO.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/service/dto/TagDTO.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/service/impl/AnnotationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/service/impl/CommentServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/service/impl/TagServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/service/mapper/AnnotationMapper.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/service/mapper/AnnotationSetMapper.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/service/mapper/TagMapper.java
  src/main/resources/db/changelog/20200303154954_added_entity_Tag.xml
  src/main/resources/db/db.changelog-master.xml
  src/test/java/uk/gov/hmcts/reform/em/annotation/rest/AnnotationResourceIntTest.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/rest/TagResourceIntTest.java
Labels: ns:em, rel:em-anno-pr-142

#148 Remove 404 error from api call to get annotation sets
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/reform/em/annotation/domain/AbstractAuditingEntity.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/rest/AnnotationSetResource.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/rest/ResponseUtil.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/rest/AnnotationSetResourceIntTest.java
Labels: ns:em, rel:em-anno-pr-148

#145 EM-1872: Open ID Connect work for Annotations API
  Jenkinsfile_CNP
  README.md
  build.gradle
  charts/em-anno/Chart.yaml
  charts/em-anno/values.yaml
  dependency-check-suppressions.xml
  docker-compose-dependencies.yml
  docker-compose.yml
  idam-client-setup.sh
  infrastructure/demo.tfvars
  infrastructure/output.tf
  infrastructure/preview.tfvars
  infrastructure/prod.tfvars
  infrastructure/sprod.tfvars
  infrastructure/variables.tf
  src/aat/java/uk/gov/hmcts/reform/em/annotation/functional/OpenIdConnectScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/annotation/testutil/TestUtil.java
  src/aat/resources/application.yml
  src/main/java/uk/gov/hmcts/reform/em/annotation/config/Config.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/config/security/AuthCheckerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/config/security/JwtGrantedAuthoritiesConverter.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/config/security/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/config/security/SecurityUtils.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/config/security/SpringSecurityAuditorAware.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/filter/IdamDetailsFilter.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/repository/IdamDetailsRepository.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/repository/IdamRepository.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/service/IdamDetailsFilterService.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/service/impl/AnnotationSetServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/service/impl/IdamDetailsFilterServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/em/annotation/BaseTest.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/repository/CustomAuditEventRepositoryIntTest.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/repository/IdamRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/rest/AnnotationResourceIntTest.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/rest/AnnotationSetResourceIntTest.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/rest/CommentResourceIntTest.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/rest/RectangleResourceIntTest.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/rest/TagResourceIntTest.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/rest/errors/ExceptionTranslatorIntTest.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/security/SecurityUtilsUnitTest.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/service/impl/IdamDetailsFilterServiceImplIntTest.java
Labels: ns:em, rel:em-anno-pr-145

#154 Added in TestSecConfig and updated readme
  README.md
  src/test/java/uk/gov/hmcts/reform/em/annotation/rest/TestSecurityConfiguration.java
Labels: ns:em, rel:em-anno-pr-154

#157 EM-2649: Return 204 empty response if there are no annotation sets fo…
  src/main/java/uk/gov/hmcts/reform/em/annotation/rest/errors/ResourceNotFoundException.java
Labels: ns:em, rel:em-anno-pr-157

#161 EM-1876: Add IDAM local setup script to repo and update the README to…
  README.md
  bin/idam-authenticate.sh
  bin/idam-client-setup.sh
  bin/start-local-environment.sh
  idam-client-setup.sh
Labels: ns:em, rel:em-anno-pr-161

#165 EM-2718: Alter approach to returning errors and creating new annotati…
  src/main/java/uk/gov/hmcts/reform/em/annotation/service/dto/AnnotationDTO.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/service/impl/AnnotationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/service/mapper/AnnotationMapper.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/rest/AnnotationResourceIntTest.java
Labels: ns:em, rel:em-anno-pr-165
