Repository hmcts/em-annotation-api, pull requests merged in 2020-04, with the labels that each got.

#170 Removed issuer validation
  Jenkinsfile_CNP
  charts/em-anno/Chart.yaml
  charts/em-anno/values.preview.template.yaml
  charts/em-anno/values.yaml
  src/main/java/uk/gov/hmcts/reform/em/annotation/config/security/SecurityConfiguration.java
Labels: ns:em, rel:em-anno-pr-170

#155 Em 2687 document bookmarks backend
  src/main/java/uk/gov/hmcts/reform/em/annotation/domain/Bookmark.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/repository/BookmarkRepository.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/rest/BookmarkResource.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/rest/FilterAnnotationSet.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/rest/errors/ResourceNotFoundException.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/service/BookmarkService.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/service/dto/BookmarkDTO.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/service/impl/BookmarkServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/service/mapper/BookmarkMapper.java
  src/main/resources/db/changelog/20200320123648_added_entity_Bookmark.xml
  src/main/resources/db/db.changelog-master.xml
  src/test/java/uk/gov/hmcts/reform/em/annotation/rest/BookmarkResourceIntTest.java
Labels: ns:em, rel:em-anno-pr-155

#179 update demo man ID
  infrastructure/demo.tfvars
Labels: ns:em, rel:em-anno-pr-179

#181 Updated Pact test for openId
  README.md
  build.gradle
  docker-pactbroker-compose.yml
  pacts/annotation_api-idam_api.json
  src/contractTest/java/uk/gov/hmcts/reform/em/annotation/IdamConsumerTest.java
Labels: ns:em, rel:em-anno-pr-181
