Repository hmcts/em-annotation-api, pull requests merged in 2020-06, with the labels that each got.

#197 EM-2881 Pact state related changes
  pacts/annotation_api-idam_api.json
  src/contractTest/java/uk/gov/hmcts/reform/em/annotation/IdamConsumerTest.java
Labels: ns:em, rel:em-anno-pr-197

#199 Updated username
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/em/annotation/IdamConsumerTest.java
Labels: ns:em, rel:em-anno-pr-199

#200 Updated client details
  src/contractTest/java/uk/gov/hmcts/reform/em/annotation/IdamConsumerTest.java
Labels: ns:em, rel:em-anno-pr-200

#205 EM-2924: Add functional test cases for tags and bookmarks
  src/aat/java/uk/gov/hmcts/reform/em/annotation/functional/AnnotationSetScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/annotation/functional/BookmarkScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/annotation/functional/TagScenarios.java
Labels: ns:em, prd:em, rel:em-anno-pr-205

#182 EM-2855: Refactor Bookmarks to allow for parent bookmarks and previous field
  src/aat/java/uk/gov/hmcts/reform/em/annotation/functional/BookmarkScenarios.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/domain/Bookmark.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/rest/BookmarkResource.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/service/dto/BookmarkDTO.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/service/dto/DeleteBookmarkDTO.java
  src/main/resources/db/changelog/20200422103555_added_entity_constraints_Bookmark.xml
  src/main/resources/db/db.changelog-master.xml
  src/test/java/uk/gov/hmcts/reform/em/annotation/rest/BookmarkResourceIntTest.java
Labels: ns:em, prd:em, rel:em-anno-pr-182
