Repository hmcts/em-annotation-api, pull requests merged in 2021-06, with the labels that each got.

#482 Fixed Mass Assignment: Insecure Binder Configuration issue
  src/main/java/uk/gov/hmcts/reform/em/annotation/config/Constants.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/rest/AnnotationSetResource.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/rest/BookmarkResource.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/rest/CommentResource.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/rest/MetaDataResource.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/rest/RectangleResource.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/rest/MetaDataResourceTest.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/rest/RectangleResourceTest.java
Labels: ns:em, prd:em, rel:em-anno-pr-482

#486 Updated em-test-helper version
  build.gradle
Labels: ns:em, prd:em, rel:em-anno-pr-486

#500 Fixed Header manipulation bug
  src/main/java/uk/gov/hmcts/reform/em/annotation/rest/BookmarkResource.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/service/util/StringUtilities.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/service/impl/util/StringUtilitiesTest.java
Labels: ns:em, prd:em, rel:em-anno-pr-500

#501 Resolved Null dereference bug
  src/main/java/uk/gov/hmcts/reform/em/annotation/rest/BookmarkResource.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/service/impl/util/StringUtilitiesTest.java
Labels: ns:em, prd:em, rel:em-anno-pr-501

#516 Updated DB details
  infrastructure/main.tf
Labels: ns:em, prd:em, rel:em-anno-pr-516

#517 reorder security.sh
  security.sh
Labels: ns:em, prd:em, rel:em-anno-pr-517
