Repository hmcts/em-annotation-api, pull requests merged in 2021-03, with the labels that each got.

#367 EM-3514 - EM-Anno api: Add functional test cases for AnnotationResource
  src/aat/java/uk/gov/hmcts/reform/em/annotation/functional/AnnotationScenarios.java
Labels: ns:em, prd:em, rel:em-anno-pr-367

#343 EM-3489 - Add functional test cases for BookmarkResource
  src/aat/java/uk/gov/hmcts/reform/em/annotation/functional/BookmarkScenarios.java
Labels: ns:em, prd:em, rel:em-anno-pr-343

#368 Resolved CVE-2021-22112
  build.gradle
Labels: ns:em, prd:em, rel:em-anno-pr-368

#369 EM-3541 - EM-Anno api: Add functional test cases for AnnotationSetRes…
  src/aat/java/uk/gov/hmcts/reform/em/annotation/functional/AnnotationSetScenarios.java
Labels: ns:em, prd:em, rel:em-anno-pr-369

#345 Em 3441 improve code coverage
  src/main/java/uk/gov/hmcts/reform/em/annotation/service/impl/AnnotationServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/repository/CustomAuditEventRepositoryIntTest.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/rest/AnnotationResourceIntTest.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/rest/AnnotationSetResourceIntTest.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/rest/BookmarkResourceIntTest.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/rest/CommentResourceIntTest.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/rest/FilterAnnotationSetTest.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/rest/MetaDataResourceTest.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/rest/RectangleResourceIntTest.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/rest/errors/ExceptionTranslatorIntTest.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/rest/errors/ExceptionTranslatorTestController.java
Labels: ns:em, prd:em, rel:em-anno-pr-345

#376 Resolved CVE-2021-25122, CVE-2021-25329
  build.gradle
Labels: ns:em, prd:em, rel:em-anno-pr-376

#370 EM-3550 - EM-Anno api: Add functional test cases for MetaDataResource
  src/aat/java/uk/gov/hmcts/reform/em/annotation/functional/MetadataScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/annotation/testutil/TestUtil.java
  src/aat/java/uk/gov/hmcts/reform/em/annotation/testutil/ToggleProperties.java
Labels: ns:em, prd:em, rel:em-anno-pr-370

#381 Corrected API delete response codes
  src/aat/java/uk/gov/hmcts/reform/em/annotation/functional/AnnotationScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/annotation/functional/AnnotationSetScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/annotation/functional/BookmarkScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/annotation/functional/CommentScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/annotation/functional/RectangleScenarios.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/rest/AnnotationResource.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/rest/AnnotationSetResource.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/rest/BookmarkResource.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/rest/CommentResource.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/rest/RectangleResource.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/rest/AnnotationResourceIntTest.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/rest/AnnotationSetResourceIntTest.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/rest/BookmarkResourceIntTest.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/rest/CommentResourceIntTest.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/rest/RectangleResourceIntTest.java
Labels: ns:em, prd:em, rel:em-anno-pr-381

#386 EM-3631 - EM-Anno api: suppress security scan error
  audit.json
Labels: ns:em, prd:em, rel:em-anno-pr-386

#385 Adding the Initial Version of the Fixed Code....
  src/aat/java/uk/gov/hmcts/reform/em/annotation/functional/RectangleScenarios.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/rest/RectangleResource.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/rest/RectangleResourceIntTest.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/rest/RectangleResourceTest.java
Labels: ns:em, prd:em, rel:em-anno-pr-385

#387 EM-3644 - EM-Anno api: Add functional test cases for FilterAnnotationSet
  src/aat/java/uk/gov/hmcts/reform/em/annotation/functional/FilterAnnotationSetScenarios.java
Labels: ns:em, prd:em, rel:em-anno-pr-387

#399 Initial Version of the Delete Multiple Book Marks Fix.....
  src/aat/java/uk/gov/hmcts/reform/em/annotation/functional/BookmarkScenarios.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/rest/BookmarkResource.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/rest/BookmarkResourceIntTest.java
Labels: ns:em, prd:em, rel:em-anno-pr-399

#401 Fixed CVE-2020-15824, CVE-2020-29582
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:em, prd:em, rel:em-anno-pr-401
