Repository hmcts/em-annotation-api, pull requests merged in 2021-05, with the labels that each got.

#448 Fixed Resource Leak
  src/main/java/uk/gov/hmcts/reform/em/annotation/info/BuildInfo.java
Labels: ns:em, prd:em, rel:em-anno-pr-448

#455 Upgraded Springboot to 2.4.5
  build.gradle
  charts/em-anno/Chart.yaml
  charts/em-anno/values.preview.template.yaml
  charts/em-anno/values.yaml
  dependency-check-suppressions.xml
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:em, prd:em, rel:em-anno-pr-455

#461 adding to audit.json
  audit.json
Labels: ns:em, prd:em, rel:em-anno-pr-461

#463 added another one
  audit.json
Labels: ns:em, prd:em, rel:em-anno-pr-463

#464 added another cookie
  audit.json
Labels: ns:em, prd:em, rel:em-anno-pr-464

#462 Updated docker-compose-dependencies
  docker-compose-dependencies-simulator.yml
  docker-compose-dependencies.yml
Labels: ns:em, prd:em, rel:em-anno-pr-462

#475 Fixed Resource Leak issues
  src/main/java/uk/gov/hmcts/reform/em/annotation/info/BuildInfo.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/rest/AnnotationResource.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/rest/AnnotationSetResource.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/rest/CommentResource.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/rest/FilterAnnotationSet.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/rest/RectangleResource.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/rest/TagResource.java
Labels: ns:em, prd:em, rel:em-anno-pr-475

#476 Fixed Resource Leak issue
  src/main/java/uk/gov/hmcts/reform/em/annotation/info/BuildInfo.java
Labels: ns:em, prd:em, rel:em-anno-pr-476
