Repository hmcts/em-annotation-api, pull requests merged in 2021-04, with the labels that each got.

#409 Update README.md
  README.md
Labels: ns:em, prd:em, rel:em-anno-pr-409

#411 Fix Get Bookmarks by DocumentId response code
  src/aat/java/uk/gov/hmcts/reform/em/annotation/functional/BookmarkScenarios.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/rest/BookmarkResource.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/rest/BookmarkResourceIntTest.java
Labels: ns:em, prd:em, rel:em-anno-pr-411

#410 EM-3714 - EM-Anno api: Update Jenkins file to generate all reports on…
  Jenkinsfile_CNP
  build.gradle
  config/checkstyle/checkstyle.xml
  config/owasp/dependency-check-suppressions.xml
  config/pmd/ruleset.xml
  src/aat/java/uk/gov/hmcts/reform/em/annotation/functional/AnnotationScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/annotation/functional/AnnotationSetScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/annotation/functional/BookmarkScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/annotation/functional/CommentScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/annotation/functional/FilterAnnotationSetScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/annotation/functional/RectangleScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/annotation/smoke/SmokeTest.java
  src/contractTest/java/uk/gov/hmcts/reform/em/annotation/IdamConsumerTest.java
Labels: ns:em, prd:em, rel:em-anno-pr-410

#416 updated java chart version
  charts/em-anno/Chart.yaml
Labels: ns:em, prd:em, rel:em-anno-pr-416

#432 EM-Anno api: Update checkstyle settings to generate report for main and tests
  build.gradle
Labels: ns:em, prd:em, rel:em-anno-pr-432
