Repository hmcts/em-annotation-api, pull requests merged in 2022-01, with the labels that each got.

#657 Resolved checkstyle errors
  build.gradle
  src/main/java/uk/gov/hmcts/reform/em/annotation/domain/Bookmark.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/domain/Rectangle.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/service/dto/BookmarkDTO.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/service/dto/RectangleDTO.java
Labels: ns:em, prd:em, rel:em-anno-pr-657

#659 Updated log4J version
  build.gradle
Labels: ns:em, prd:em, rel:em-anno-pr-659

#661 Fix sonar issues
  src/main/java/uk/gov/hmcts/reform/em/annotation/rest/errors/BadRequestAlertException.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/rest/errors/CustomParameterizedException.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/rest/errors/EmailAlreadyUsedException.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/rest/errors/EmailNotFoundException.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/rest/errors/InternalServerErrorException.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/rest/errors/InvalidPasswordException.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/rest/errors/LoginAlreadyUsedException.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/service/ServiceNameAspect.java
Labels: ns:em, prd:em, rel:em-anno-pr-661

#666 Upgrade gradle to 7.3.3
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: ns:em, prd:em, rel:em-anno-pr-666

#670 Upgrade Java version to 17
  Dockerfile
  build.gradle
  charts/em-anno/Chart.yaml
Labels: ns:em, prd:em, rel:em-anno-pr-670

#671 Reverted Java 17 version
  Dockerfile
  build.gradle
Labels: ns:em, prd:em, rel:em-anno-pr-671
