Repository hmcts/em-annotation-api, pull requests merged in 2022-10, with the labels that each got.

#989 Hide problem base url
  src/main/java/uk/gov/hmcts/reform/em/annotation/rest/errors/ErrorConstants.java
Labels: ns:em, prd:em, rel:em-anno-pr-989

#991 6 fingerprints added for em anno 05/10/2022
  audit.json
Labels: ns:em, prd:em, rel:em-anno-pr-991

#993 handle psql exception
  src/main/java/uk/gov/hmcts/reform/em/annotation/rest/errors/ExceptionTranslator.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/rest/errors/ExceptionTranslatorIntTest.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/rest/errors/ExceptionTranslatorTestController.java
Labels: ns:em, prd:em, rel:em-anno-pr-993

#994 EM-4645-avoid-CVE-2022-42003
  build.gradle
  config/owasp/dependency-check-suppressions.xml
Labels: ns:em, prd:em, rel:em-anno-pr-994

#996 handle constraint violation exception
  src/main/java/uk/gov/hmcts/reform/em/annotation/rest/errors/ErrorConstants.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/rest/errors/ExceptionTranslator.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/rest/errors/ExceptionTranslatorIntTest.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/rest/errors/ExceptionTranslatorTestController.java
Labels: ns:em, prd:em, rel:em-anno-pr-996

#999 log psql error message
  src/main/java/uk/gov/hmcts/reform/em/annotation/rest/errors/ExceptionTranslator.java
Labels: ns:em, prd:em, rel:em-anno-pr-999

#987 Respond with 400 for comment with no annotation id
  src/aat/java/uk/gov/hmcts/reform/em/annotation/functional/CommentScenarios.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/rest/CommentResource.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/rest/CommentResourceIntTest.java
Labels: ns:em, prd:em, rel:em-anno-pr-987

#1002 Em 4662 fix em anno 13 10 2022
  audit.json
Labels: ns:em, prd:em, rel:em-anno-pr-1002

#1011 EM-4666 use debug level
  src/main/java/uk/gov/hmcts/reform/em/annotation/Application.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/service/ServiceNameAspect.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/em/annotation/service/ServiceNameAspectTest.java
Labels: ns:em, prd:em, rel:em-anno-pr-1011

#1012 EM-4667 - added single fingerprint to audit.json to fix em anno pipeline
  audit.json
Labels: ns:em, prd:em, rel:em-anno-pr-1012

#1013 EM-3590 add tests
  src/main/java/uk/gov/hmcts/reform/em/annotation/authchecker/EmAuthCheckerUserDetailsService.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/config/security/JwtGrantedAuthoritiesConverter.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/config/security/JwtGrantedAuthoritiesConverterTest.java
Labels: ns:em, prd:em, rel:em-anno-pr-1013

#1019 EM-4666 use debug level for app-insight
  charts/em-anno/Chart.yaml
  charts/em-anno/values.yaml
Labels: ns:em, prd:em, rel:em-anno-pr-1019

#1018 EM-4687 remove unused logging config
  build.gradle
  charts/em-anno/Chart.yaml
  charts/em-anno/values.yaml
  src/main/java/uk/gov/hmcts/reform/em/annotation/appinsights/AppInsightsEventRepository.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/appinsights/AppInsightsEvents.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/appinsights/EventRepository.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/config/security/SecurityUtils.java
  src/main/resources/logback-spring.xml
  src/test/java/uk/gov/hmcts/reform/em/annotation/config/audit/EntityAuditEventListenerTest.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/config/security/SecurityUtilsTest.java
Labels: ns:em, prd:em, rel:em-anno-pr-1018

#1024 Add unit test for SecurityConfiguration
  build.gradle
  src/main/java/uk/gov/hmcts/reform/em/annotation/config/security/SecurityConfiguration.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/config/security/SecurityConfigurationTest.java
Labels: ns:em, prd:em, rel:em-anno-pr-1024

#1035 EM-4714 - added single fingerprint to audit.json to fix em anno pipeline
  audit.json
Labels: ns:em, prd:em, rel:em-anno-pr-1035

#1036 Use postgres test db
  README.md
  build.gradle
  src/test/java/uk/gov/hmcts/reform/em/annotation/rest/BookmarkResourceIntTest.java
  src/test/resources/config/application.yaml
Labels: ns:em, prd:em, rel:em-anno-pr-1036
