Repository hmcts/em-annotation-api, pull requests merged in 2022-05, with the labels that each got.

#742 Add ignore for 10054 bookmarks_PUT
  audit.json
Labels: ns:em, prd:em, rel:em-anno-pr-742

#766 Fixed CVE
  build.gradle
Labels: ns:em, prd:em, rel:em-anno-pr-766

#771 Removed dependabot config
  .github/dependabot.yml
  .github/stale.yml
Labels: ns:em, prd:em, rel:em-anno-pr-771

#773 Added in more logs and try-catch
  src/main/java/uk/gov/hmcts/reform/em/annotation/rest/AnnotationResource.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/service/AnnotationService.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/service/impl/AnnotationServiceImpl.java
Labels: ns:em, prd:em, rel:em-anno-pr-773

#774 Resolved Sonar issue
  src/main/java/uk/gov/hmcts/reform/em/annotation/rest/AnnotationResource.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/rest/CommentResource.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/rest/AnnotationResourceIntTest.java
Labels: ns:em, prd:em, rel:em-anno-pr-774

#777 Added in try catch to handle a scenario
  src/main/java/uk/gov/hmcts/reform/em/annotation/rest/FilterAnnotationSet.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/rest/FilterAnnotationSetTest.java
Labels: ns:em, prd:em, rel:em-anno-pr-777
