Repository hmcts/em-annotation-api, pull requests merged in 2022-11, with the labels that each got.

#1041 EM-4744 avoid-CVE-2022-31692
  build.gradle
Labels: ns:em, prd:em, rel:em-anno-pr-1041

#1061 Enable exception handling for errors in authentication
  src/main/java/uk/gov/hmcts/reform/em/annotation/rest/EmErrorController.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/rest/EmErrorControllerIntTest.java
Labels: ns:em, prd:em, rel:em-anno-pr-1061

#1071 Updating flyway db to 9.8.2
  src/main/java/uk/gov/hmcts/reform/em/annotation/data/migration/FlywayNoOpStrategy.java
Labels: ns:em, prd:em, rel:em-anno-pr-1071, Do Not Merge

#1087 EM-4846 avoid vulnerability
  build.gradle
Labels: ns:em, prd:em, rel:em-anno-pr-1087
