Repository hmcts/em-annotation-api, pull requests merged in 2023-11, with the labels that each got.

#1597 EM-5649 fix app-insight logging
  Dockerfile
Labels: ns:em, prd:em, rel:em-anno-pr-1597

#1610 add new columns to EntityAuditEvent
  src/main/java/uk/gov/hmcts/reform/em/annotation/config/audit/AsyncEntityAuditEventWriter.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/domain/EntityAuditEvent.java
  src/main/resources/db/migration/V2__jhi_entity_audit_event_entity_value2_migrated.sql
Labels: ns:em, prd:em, rel:em-anno-pr-1610

#1613 add cronjob to copy entity values
  build.gradle
  charts/em-anno/Chart.yaml
  charts/em-anno/values.yaml
  src/main/java/uk/gov/hmcts/reform/em/annotation/batch/EntityValueProcessor.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/config/BatchConfiguration.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/V3__batch_metadata.sql
Labels: ns:em, prd:em, rel:em-anno-pr-1613

#1623 Removed v15 DB details.
  infrastructure/main.tf
Labels: ns:em, prd:em, destroy, rel:em-anno-pr-1623
