Repository hmcts/em-annotation-api, pull requests merged in 2024-12, with the labels that each got.

#2184 Create SECURITY.md
  SECURITY.md
Labels: ns:em, prd:em, rel:em-anno-pr-2184

#2194 migrate unit tests to junit 5
  src/test/java/uk/gov/hmcts/reform/em/annotation/config/audit/EntityAuditEventListenerTest.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/config/security/SecurityUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/repository/IdamRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/rest/MetaDataResourceTest.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/rest/WelcomeResourceTest.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/rest/util/PaginationUtilUnitTest.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/service/CcdServiceTest.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/service/impl/MetadataServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/service/impl/util/StringUtilitiesTest.java
Labels: ns:em, prd:em, rel:em-anno-pr-2194

#2195 migrate tests to junit 5
  src/test/java/uk/gov/hmcts/reform/em/annotation/BaseTest.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/repository/CustomAuditEventRepositoryIntTest.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/rest/AnnotationResourceIntTest.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/rest/AnnotationSetResourceIntTest.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/rest/BookmarkResourceIntTest.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/rest/CommentResourceIntTest.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/rest/EmErrorControllerIntTest.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/rest/FilterAnnotationSetTest.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/rest/RectangleResourceIntTest.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/rest/TagResourceIntTest.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/rest/errors/ExceptionTranslatorIntTest.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/service/impl/IdamDetailsFilterServiceImplIntTest.java
Labels: ns:em, prd:em, rel:em-anno-pr-2195

#2203 remove junit vintage engine
  build.gradle
Labels: ns:em, prd:em, rel:em-anno-pr-2203
