Repository hmcts/em-annotation-api, pull requests merged in 2024-11, with the labels that each got.

#2147 Em-6333 change test container
  src/aat/java/uk/gov/hmcts/reform/em/annotation/config/ContainerImageNameSubstitutor.java
  src/aat/resources/testcontainers.properties
  src/test/java/uk/gov/hmcts/reform/em/annotation/config/ContainerImageNameSubstitutor.java
  src/test/resources/testcontainers.properties
Labels: ns:em, prd:em, rel:em-anno-pr-2147

#2157 update serenity to 4.2.9
  build.gradle
  src/aat/java/uk/gov/hmcts/reform/em/annotation/functional/AnnotationScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/annotation/functional/AnnotationSetScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/annotation/functional/BookmarkScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/annotation/functional/CommentScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/annotation/functional/FilterAnnotationSetScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/annotation/functional/MetadataScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/annotation/functional/OpenIdConnectScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/annotation/functional/RectangleScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/annotation/functional/TagScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/annotation/smoke/SmokeTest.java
Labels: ns:em, prd:em, rel:em-anno-pr-2157

#2158 Em 6327 update pact
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/em/annotation/IdamConsumerTest.java
Labels: ns:em, prd:em, rel:em-anno-pr-2158
