Repository hmcts/em-annotation-api, pull requests merged in 2024-01, with the labels that each got.

#1657 remove batch changes
  build.gradle
  charts/em-anno/Chart.yaml
  charts/em-anno/values.yaml
  src/main/java/uk/gov/hmcts/reform/em/annotation/batch/EntityValueProcessor.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/config/BatchConfiguration.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/config/audit/AsyncEntityAuditEventWriter.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/domain/EntityAuditEvent.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/V5__drop_batch_tables.sql
  src/main/resources/db/migration/V6__drop_entity_value_migrated.sql
Labels: ns:em, prd:em, Do Not Merge, rel:em-anno-pr-1657

#1585 enable updating annotation set to update annotations
  src/aat/java/uk/gov/hmcts/reform/em/annotation/functional/AnnotationSetScenarios.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/service/mapper/AnnotationMapper.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/service/mapper/AnnotationSetMapper.java
Labels: ns:em, prd:em, add-or-update, enable_keep_helm, rel:em-anno-pr-1585

#1699 Removed redundant service names from s2s whitelist
  charts/em-anno/Chart.yaml
  charts/em-anno/values.yaml
  src/main/resources/application.yaml
Labels: ns:em, prd:em, rel:em-anno-pr-1699

#1371 Add comment header to annotation
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
  charts/em-anno/Chart.yaml
  charts/em-anno/values.yaml
  src/aat/java/uk/gov/hmcts/reform/em/annotation/functional/AnnotationScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/annotation/testutil/TestUtil.java
  src/aat/resources/adv_annotation_functional_tests_ccd_def.xlsx
  src/aat/resources/application.yml
  src/cftlib/java/uk/gov/hmcts/reform/em/annotation/cftlib/CftLibConfig.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/Application.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/config/CommentHeaderConfig.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/config/security/EmSecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/domain/Annotation.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/rest/AnnotationResource.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/service/CcdService.java
  src/main/java/uk/gov/hmcts/reform/em/annotation/service/dto/AnnotationDTO.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/V7__add_comment_header.sql
  src/test/java/uk/gov/hmcts/reform/em/annotation/rest/AnnotationResourceIntTest.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/service/CcdServiceTest.java
Labels: ns:em, prd:em, rel:em-anno-pr-1371, enable_keep_helm

#1724 add graceful shutdown
  src/main/resources/application.yaml
Labels: ns:em, prd:em, rel:em-anno-pr-1724

#1725 Upgrading to java 21
  build.gradle
Labels: ns:em, prd:em, rel:em-anno-pr-1725

#1726 EM-5801 - bump pitest plugin
  build.gradle
Labels: ns:em, prd:em, rel:em-anno-pr-1726
