Repository hmcts/em-annotation-api, pull requests merged in 2025-07, with the labels that each got.

#2446 Added and updated unit tests
  src/test/java/uk/gov/hmcts/reform/em/annotation/config/audit/AsyncEntityAuditEventWriterTest.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/rest/CommentResourceIntTest.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/rest/errors/ExceptionTranslatorIntTest.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/rest/errors/ExceptionTranslatorTestController.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/service/impl/AnnotationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/service/impl/AnnotationSetServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/em/annotation/service/impl/BookmarkServiceImplTest.java
Labels: ns:em, prd:em, rel:em-anno-pr-2446

#2447 add pact tests
  src/contractTest/java/uk/gov/hmcts/reform/em/annotation/consumer/RectangleConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/em/annotation/provider/RectangleProviderTest.java
Labels: ns:em, prd:em, rel:em-anno-pr-2447

#2448 add pact test
  src/contractTest/java/uk/gov/hmcts/reform/em/annotation/consumer/TagConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/em/annotation/provider/TagProviderTest.java
Labels: ns:em, prd:em, rel:em-anno-pr-2448
