Repository hmcts/em-annotation-api, pull requests merged in 2025-05, with the labels that each got.

#2347 EM-6452 add pact delete test for annotation
  src/contractTest/java/uk/gov/hmcts/reform/em/annotation/consumer/AnnotationsConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/em/annotation/provider/AnnotationsProviderTest.java
Labels: ns:em, prd:em, rel:em-anno-pr-2347

#2350 Em 6543 add pact test
  src/contractTest/java/uk/gov/hmcts/reform/em/annotation/consumer/AnnotationSetConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/em/annotation/consumer/AnnotationsConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/em/annotation/consumer/BaseConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/em/annotation/provider/AnnotationSetProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/em/annotation/provider/AnnotationsProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/em/annotation/provider/BaseProviderTest.java
Labels: ns:em, prd:em, rel:em-anno-pr-2350

#2367 add pact test
  src/contractTest/java/uk/gov/hmcts/reform/em/annotation/consumer/AnnotationSetConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/em/annotation/provider/AnnotationSetProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/em/annotation/provider/BaseProviderTest.java
Labels: ns:em, prd:em, rel:em-anno-pr-2367

#2372 Removed redundant CVE suppressions
  config/owasp/dependency-check-suppressions.xml
Labels: ns:em, prd:em, rel:em-anno-pr-2372

#2373 Removed redundant rules
  .github/renovate.json
Labels: ns:em, prd:em, rel:em-anno-pr-2373
